## Homework #13: Extract-Transform-Load 
Purpose of our ETL is to prepare data sets to answer the question:
     *Is the price of soybeans dependent on global fuel prices or weather in top-producing states of Iowa and Illinois?*

In [1]:
# Import libraries for use in Python programs
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

###  Extraction step of our ETL project:
* Submit request to NOAA Climate Data Center for weather station data in Illinois for the years 2014 to 2019
* Receive CSV files in email in either six month or one year increments due to max size allowance of 1GB for a single pull
* Concatenate all of the files into one large DataFrame using "glob" method

>**What is import glob?**
> An asterisk (*) matches zero or more characters in a segment of a name. For example, dir/*. import glob for name in glob. > > > glob('dir/*'): print name. The pattern matches every pathname (file or directory) in the directory dir, without recursing > > > further into subdirectories.

In [2]:
import glob

In [3]:
illinois_df = pd.concat(map(pd.read_csv, glob.glob("../input/illinois/*.csv")))
illinois_df = illinois_df.fillna(0)

In [4]:
illinois_df.head()

       STATION                          NAME       DATE  PRCP  TOBS
0  US1ILCR0012  MOUNT CARROLL 6.8 NNW, IL US  1/10/2014  0.00   0.0
1  US1ILCR0012  MOUNT CARROLL 6.8 NNW, IL US  1/11/2014  0.37   0.0
2  US1ILCR0012  MOUNT CARROLL 6.8 NNW, IL US  1/12/2014  0.00   0.0
3  US1ILCR0012  MOUNT CARROLL 6.8 NNW, IL US  1/13/2014  0.00   0.0
4  US1ILCR0012  MOUNT CARROLL 6.8 NNW, IL US  1/14/2014  0.03   0.0

In [6]:
illinois_df.tail()

           STATION                   NAME       DATE  PRCP  TOBS
57265  USC00117487  ROSICLARE 5 NW, IL US  9/26/2019  0.05  65.0
57266  USC00117487  ROSICLARE 5 NW, IL US  9/27/2019  0.03  55.0
57267  USC00117487  ROSICLARE 5 NW, IL US  9/28/2019  0.00  65.0
57268  USC00117487  ROSICLARE 5 NW, IL US  9/29/2019  0.00  66.0
57269  USC00117487  ROSICLARE 5 NW, IL US  9/30/2019  0.00  65.0

In [7]:
# What are the data types in the DataFrame
illinois_df.dtypes

STATION     object
NAME        object
DATE        object
PRCP       float64
TOBS       float64
dtype: object

In [8]:
## Convert "Date" from a string to a date-time-group variable
illinois_df["DATE"] =  pd.to_datetime(illinois_df["DATE"])
illinois_df.dtypes

KeyboardInterrupt:

In [9]:
# Rename the column headers
illinois_df = illinois_df.rename(columns={"DATE": "Date",
                                                          "PRCP": "Precipitation",
                                                          "TOBS": "Temp_of_observation "})
illinois_df.head()

,STATION,NAME,Date,Precipitation,Temp_of_observation
0,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",1/10/2014,0.00,0.0
1,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",1/11/2014,0.37,0.0
2,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",1/12/2014,0.00,0.0
3,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",1/13/2014,0.00,0.0
4,US1ILCR0012,"MOUNT CARROLL 6.8 NNW, IL US",1/14/2014,0.03,0.0

In [10]:
illinois_transformed = illinois_df.groupby(['Date']).mean()
illinois_transformed

           Precipitation  Temp_of_observation
Date
1/1/2014        0.067158              3.965392
1/1/2015        0.000036              4.078324
1/1/2016        0.000111              4.794824
1/1/2017        0.000735              4.792279
1/1/2018        0.000217             -1.792419
1/1/2019        0.241360              3.728097
1/10/2014       0.069322              6.879473
1/10/2015       0.000359              1.249527
1/10/2016       0.271881              1.566108
1/10/2017       0.026062              8.120879
1/10/2018       0.008156              7.981917
1/10/2019       0.000000              5.342508
1/11/2014       0.652293              6.786596
1/11/2015       0.013518              5.407266
1/11/2016       0.006034              2.674812
1/11/2017       0.103364              6.738574
1/11/2018       0.047140              9.312611
1/11/2019       0.003503              8.859873
1/12/2014       0.002086              6.571429
1/12/2015       0.228752              4.597148
1/12/2016       0.036494              2.968460
1/12/2017       0.215769              6.124542
1/12/2018       0.191431              3.012844
1/12/2019       0.164704              9.516447
1/13/2014       0.004205              7.890311
1/13/2015       0.003900              2.083179
1/13/2016       0.000643              2.729679
1/13/2017       0.031682              4.310536
1/13/2018       0.005453              1.550725
1/13/2019       0.117224              8.637224
...                  ...                   ...
9/5/2014        0.213359             12.955927
9/5/2015        0.111324             12.326797
9/5/2016        0.001931             12.428805
9/5/2017        0.069526              9.639810
9/5/2018        0.014848             11.583841
9/5/2019        0.000121             11.129956
9/6/2014        0.437818              9.900289
9/6/2015        0.042175             12.844857
9/6/2016        0.002915             12.919485
9/6/2017        0.000849              8.572327
9/6/2018        0.396978             10.191241
9/6/2019        0.000056             12.791527
9/7/2014        0.002601             10.533118
9/7/2015        0.017388             12.870216
9/7/2016        0.019153             13.280130
9/7/2017        0.001390              8.543444
9/7/2018        0.500205              9.764620
9/7/2019        0.004955             11.729821
9/8/2014        0.000111             10.420635
9/8/2015        0.115606             11.888199
9/8/2016        0.787107             11.691630
9/8/2017        0.001517              8.924171
9/8/2018        0.988132              9.110294
9/8/2019        0.274995             11.620147
9/9/2014        0.174948             10.885246
9/9/2015        0.873242             10.522431
9/9/2016        0.318875             11.106383
9/9/2017        0.000161              9.226688
9/9/2018        0.312197              8.877429
9/9/2019        0.109216             12.245361

[2099 rows x 2 columns]